﻿@{
    ViewData["Title"] = "Perfil";
}
@model Medico
<div class="user-info">
    <h1>Perfil</h1>
    <div class="nome">
        <label asp-for="Nome"></label>
        <h6>@Model.Nome</h6>
    </div>
    <div class="telefone">
        <label asp-for="Telefone"></label>
        <h6>@Model.Telefone</h6>
    </div>
    <div class="email">
        <label asp-for="Email"></label>
        <h6>@Model.Email</h6>
    </div>
    <div class="CRM">
        <label asp-for="CRM"></label>
        <h6>@Model.CRM</h6>
    </div>
    <div class="CPF">
        <label asp-for="CPF"></label>
        <h6>@Model.CPF</h6>
    </div>
    <div class="sexo">
        <label asp-for="Sexo"></label>
        <h6>@Model.Sexo?.Nome</h6>
    </div>
    <div class="consultorio">
        <label asp-for="Consultorio"></label>
        <h6>@Model.Consultorio?.Nome</h6>
    </div>
    <div class="especialidade">
        <label asp-for="Especialidade"></label>
        <h6>@Model.Especialidade?.Nome</h6>
    </div>
    <a asp-action="Editar" asp-controller="Medico" class="btn btn-primary">Editar</a>
    <a asp-action="Deletar" asp-controller="Medico" class="btn btn-danger">Deletar</a>
    <a asp-action="VerConsultas" asp-route-id="@Model.IdMedico" class="btn btn-info">Ver Consultas</a>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        
        
        @if (TempData["ErroMedico"] != null)
        {
            <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro!',
                           text: 'Não é possível deletar este médico porque ele possui consultas vinculadas.'
                    });
            </text>
        }
    </script>
}