@{
    ViewData["Title"] = "Perfil";
}
@model Cliente

<div class="user-info">
    <h1>Perfil</h1>
    <div class="nome">
        <label asp-for="Nome"></label>
        <h6>@Model.Nome</h6>
    </div>
    <div class="telefone">
        <label asp-for="Telefone"></label>
        <h6>@Model.Telefone</h6>
    </div>
    <div class="email">
        <label asp-for="Email"></label>
        <h6>@Model.Email</h6>
    </div>
    <div class="datanasc">
        <label asp-for="DataNascimento"></label>
        <h6>@Model.DataNascimento</h6>
    </div>
    <div class="CPF">
        <label asp-for="CPF"></label>
        <h6>@Model.CPF</h6>
    </div>
    <div class="Sexo">
        <label asp-for="Sexo"></label>
        <h6>@Model.Sexo?.Nome</h6>
    </div>

    <a asp-action="Editar" asp-controller="Cliente" class="btn btn-primary">Editar</a>
    <a asp-action="Deletar" asp-controller="Cliente" class="btn btn-danger">Deletar</a>
    <a asp-action="VerConsultas" asp-route-id="@Model.IdCliente" class="btn btn-info">Ver Consultas</a>
    <a asp-action="MarcarConsulta" asp-controller="Cliente" class="btn btn-primary btn-sm">Marcar Consulta</a>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        @if (TempData["CriarSucesso"] != null)
        {
            <text>
                    Swal.fire({
                        icon: 'success',
                        title: 'Sucesso',
                        text: 'Consulta marcada com sucesso!'
                    });
            </text>
        }
    </script>
}
